In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("C:\\Users\\mkhan\\Desktop\\musabi\\OCT_project\\data\\OCT_final_testwcsv.csv")
df

,Unnamed: 0,image,level,path,source
0,0,image_normal_0_11.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_11.tiff,oct_artelus
1,1,image_normal_0_13.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_13.tiff,oct_artelus
2,2,image_normal_0_5.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_5.tiff,oct_artelus
3,3,image_normal_10_14.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_14....,oct_artelus
4,4,image_normal_10_15.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_15....,oct_artelus
...,...,...,...,...,...
22313,22313,CNV-9997680-70.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-70.jpeg,oct_mendely
22314,22314,CNV-9997680-76.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-76.jpeg,oct_mendely
22315,22315,CNV-9997680-81.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-81.jpeg,oct_mendely
22316,22316,CNV-9997680-84.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-84.jpeg,oct_mendely
22317,22317,CNV-9997680-88.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-88.jpeg,oct_mendely

In [20]:
df = pd.read_csv("OCT_final_testwcsv.csv")
df

,image,level,path,source
0,AMRD24.tiff,4,data/oct/oct_artelus/test/4/AMRD24.tiff,oct_artelus
1,AMRD33.tiff,4,data/oct/oct_artelus/test/4/AMRD33.tiff,oct_artelus
2,image_amd_0_16.tiff,4,data/oct/oct_artelus/test/4/image_amd_0_16.tiff,oct_artelus
3,image_amd_0_19.tiff,4,data/oct/oct_artelus/test/4/image_amd_0_19.tiff,oct_artelus
4,image_amd_10_0.tiff,4,data/oct/oct_artelus/test/4/image_amd_10_0.tiff,oct_artelus
...,...,...,...,...
1148,CNV-9782524-1.jpeg,3,data/oct/test/3/CNV-9782524-1.jpeg,NaN
1149,CNV-9782524-2.jpeg,3,data/oct/test/3/CNV-9782524-2.jpeg,NaN
1150,CNV-9806464-1.jpeg,3,data/oct/test/3/CNV-9806464-1.jpeg,NaN
1151,CNV-9929999-1.jpeg,3,data/oct/test/3/CNV-9929999-1.jpeg,NaN
1152,CNV-9971412-1.jpeg,3,data/oct/test/3/CNV-9971412-1.jpeg,NaN

In [21]:

df2 = pd.get_dummies(df, columns=['level'])
df2

,image,path,source,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7
0,AMRD24.tiff,data/oct/oct_artelus/test/4/AMRD24.tiff,oct_artelus,False,False,False,False,True,False,False,False
1,AMRD33.tiff,data/oct/oct_artelus/test/4/AMRD33.tiff,oct_artelus,False,False,False,False,True,False,False,False
2,image_amd_0_16.tiff,data/oct/oct_artelus/test/4/image_amd_0_16.tiff,oct_artelus,False,False,False,False,True,False,False,False
3,image_amd_0_19.tiff,data/oct/oct_artelus/test/4/image_amd_0_19.tiff,oct_artelus,False,False,False,False,True,False,False,False
4,image_amd_10_0.tiff,data/oct/oct_artelus/test/4/image_amd_10_0.tiff,oct_artelus,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1148,CNV-9782524-1.jpeg,data/oct/test/3/CNV-9782524-1.jpeg,NaN,False,False,False,True,False,False,False,False
1149,CNV-9782524-2.jpeg,data/oct/test/3/CNV-9782524-2.jpeg,NaN,False,False,False,True,False,False,False,False
1150,CNV-9806464-1.jpeg,data/oct/test/3/CNV-9806464-1.jpeg,NaN,False,False,False,True,False,False,False,False
1151,CNV-9929999-1.jpeg,data/oct/test/3/CNV-9929999-1.jpeg,NaN,False,False,False,True,False,False,False,False
1152,CNV-9971412-1.jpeg,data/oct/test/3/CNV-9971412-1.jpeg,NaN,False,False,False,True,False,False,False,False

In [16]:
df2.to_csv("oct_final_test_vit.csv")